    <link rel="stylesheet" href="/assets/style-1.css">
     <script src="/assets/slider.js"></script>
<div class="logo">
<img src="/assets/SVR-1.jpg" class="logo_new">
</div>

<div class="row">
<div class="land">Land</div>
<div class="land">Land</div>
<div class="land">Land</div>
<div class="land">Land</div>
<div class="land">Land</div>
<div class="land">Land</div>
</div>

     <div id="sliderFrame">
                  <div id="slider">
                    <a href="" target="_blank">
                      <img src="/assets/img/file0001811490083_small.jpg" alt="Agriculture Lands" />
                    </a>
                    <img src="/assets/img/agriculture.jpg" alt="Farm Lands" />
                    <img src="/assets/img/commercial.jpg" alt="Commercial Lands" />
                    <img src="/assets/img/industrial-land1.jpg" alt="Industrial Land" />
                    <img src="/assets/img/residential.jpg" alt="Residential Land"  />
                    <img src="/assets/img/barren-land.jpg" alt="Barren Land"  />
                  </div>
                  <div id="htmlcaption" style="display: none;">

                  </div>
                </div>